/* body elementinin Arkaplan rengi ayarlanıyor. */
body {
  background-color: #e9ecef;
}
/* Marka adı yazısının rengi ayarlanıyor. */
.navbar-brand {
  color: #f5ea5a;
}
/* Gerekli yerlerde kullanmak üzere elementi nispeten daraltan bir padding classı. */
.narrow-padding {
  padding: 3% 15%;
}
/* Slogan metni font boyutu artırılıyor, font ağırlığı kalın yapılıyor. */
.slogan-text {
  font-size: 4.5rem;
  font-weight: bold;
}
/* Müşteri geri dönüş bölümündeki resmin boyutu ayarlanıyor. */
.user-img {
  width: 10%;
}
/* index sayfasında açıkladığımız sebepten ötürü carousel ile ilgili bu class düzenleniyor. */
.carousel-item {
  display: block;
  visibility: hidden;
}
/* index sayfasında açıkladığımız sebepten ötürü carousel ile ilgili bu class düzenleniyor. */
.carousel-item.active {
  visibility: visible;
}
/* Linkler kısmına padding veriliyor. */
.links {
  padding: 6%;
}
